section.gallery {
	margin-top: 5vh;
	width: 100%;
}

.gallery-collection {
	.mixin-galleryCollection(@spacer-sm,transparent, 0);
	grid-template-columns: repeat(2, 1fr); 
	@media (max-width: @breakpoint-minimum){
		display: block;
	}
	@media (min-width: @breakpoint-maximum){
		grid-template-columns: repeat(5, 1fr); //maximum widescreen
	}
	align-items: center;
	justify-items: center;
	
	.gallery-item {
		.mixin-galleryItem(@spacer-base); //widescreen
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 100%;
		height: 100%;
		@media (max-width: @breakpoint-minimum){
			padding: @spacer-xs;
			border-collapse: collapse;
		}
		@media (min-width: @breakpoint-maximum){
			padding: @spacer-xl;
		}
		
		a {}
		
		img {
			display: block;
			object-fit: contain;
			width: auto;
			max-width: 100%;
			height: auto;
			max-height: 75rem;
		}
		
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid @palette-gray-80;
			box-sizing: border-box;
			z-index:-1;
		}
	}
}