.jumbotron {
	position: relative;
	margin-top:0;
	min-height: 100vh;
	
	&::after {
		.mixin-backgroundImageFade;
	}

	img {
		.mixin-backgroundImage;
	}
	.panel {
		width: 100%;
	}
	.panel-title {
		display: flex;
		flex-direction: column; // bespoke for this website
	}
	h2 {
		color: @fontColor-feature;
	}
	p {
		font-size: @fontSize-lg;
		line-height: @lineHeight-lg;
		font-weight: @fontWeight-base;
		margin: 0;
	}
}