/* *******************************
   Site layout
******************************* */

// Sitewide border
.site-frame {
    position: fixed;
    z-index: 2000;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: @spacer-base solid #fff;
	box-sizing: border-box;
	
	@media (max-width: @breakpoint-minimum) {
		display: none;
	}
    
	@media (min-width: @breakpoint-collapse) {
		border-width: @spacer-xl;
	}
}

// Sitewide top-of-page haze
.site-haze {
	position: fixed;
	z-index: 1000;
	top: -1px;
	left: 0;
	width: 100%;
	height: 25vh;
	background: linear-gradient(to bottom,fade(@body-bg,100%),fade(@body-bg,0%));
	pointer-events: none;
}

/* *******************************
   Sections
******************************* */
section,
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width:100vw;
	max-width: 100%;
	margin-top: 25vh; // widescreen
	padding: @site-gutter-base; 
	box-sizing: border-box;
	
	@media (max-width: @breakpoint-minimum){
		margin-top: 20vh; // widescreen
		padding: @site-gutter-minimum;
	}
	@media (min-width: @breakpoint-collapse){
		margin-top: 35vh; // widescreen
		padding: @site-gutter-maximum; 
	}
}
body > section:last-of-type {
	margin-bottom: 25vh;
}

section#portfolio {
	.teasers {
		// grid-template-columns: repeat(1,1fr 1fr);
	}
	.teaser:nth-of-type(3){
		grid-column: ~"span 2";
		min-height: @breakpoint-minimum / 2;
	}
}

section#perspectives {
	.teasers {
		grid-template-columns: repeat(1,3fr 2fr);
	}
	.teaser:nth-of-type(3){
		grid-column: span 2;
		grid-row: 2;
	}
}

/* *******************************
   Page background
******************************* */
.page-background {
	z-index: -1;
    position: absolute;
    width: 100%;
    height: 75vh;
    top: 0;
    left: 0;
	img {
		.mixin-backgroundImage();
	}
	&::after {
		.mixin-backgroundImageFade;
	}
}