main {
	&.inner {
		margin-top: 0; //widescreen
	}
}

article {
	width: 100%;
	max-width: @breakpoint-maximum; 
	
	.article-wrapper {
		.mixin-galleryCollection(@spacer-sm,transparent, 0);
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: @breakpoint-minimum) {
			display: block; 
		}
		@media (min-width: @breakpoint-collapse) {
			grid-template-columns: repeat(5, 1fr); 
		}
	}
	
	.article-title {
		margin-bottom: @spacer-xs;
		grid-column: ~"1 / span 2";
		@media (max-width: @breakpoint-minimum) {
			grid-column: ~"1";
			margin-bottom: @spacer-xs;
		}
		@media (min-width: @breakpoint-collapse) {
			grid-column: ~"2 / span 3";
			margin-bottom: @spacer-sm; 
		}
	}
	
	.article-media {
		grid-column: ~"1 / span 2";
		// background: @palette-white;
		flex:100%;
		margin-bottom: @spacer-base;
		@media (max-width: @breakpoint-minimum) {
			grid-column: ~"1";
			margin-bottom: @spacer-base;
		}
		@media (min-width: @breakpoint-collapse) {
			grid-column: ~"2 / span 2";
		}
		img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
			border: @spacer-sm solid @palette-white;
			@media (max-width: @breakpoint-minimum) {
				border-width: @spacer-xs;
			}
			@media (min-width: @breakpoint-maximum) {
				border-width: @spacer-base;
			}
		}
	}
	
	.article-body {
		grid-column: ~"4";
		column-count: 1;
		padding-left: @spacer-xl;
		
		@media (max-width: @breakpoint-minimum) {
			grid-column: ~"1 / span 2";
			column-count: 1;
			max-width: none;
			padding-left: 0;
		}		
		@media (min-width: (@breakpoint-minimum + 1px)) and (max-width:(@breakpoint-collapse - 1px)) {
			grid-column: ~"1 / span 2";
			column-count: 2;
			padding-left: 0;
		}			
		@media (min-width: @breakpoint-maximum) {
			grid-column: ~"4";
		}
		p {
			margin-bottom: @spacer-base;
			@media (min-width: @breakpoint-collapse) {
				margin-bottom: @spacer-lg; //widescreen
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	
	&.inner {
		margin-top: 50vh; //widescreen
	}
	&.home {
		.article-body {
			grid-column: ~"2 / span 3";
			padding-left: 0;
			column-count: 2;
			@media (max-width: @breakpoint-minimum) {
				grid-column: ~"1";
				column-count: 1;
			}
			@media (min-width: (@breakpoint-minimum + 1px)) and (max-width:(@breakpoint-collapse - 1px)) {
				grid-column: ~"1 / span 2";
				column-count: 2;
			}			
			@media (min-width: @breakpoint-maximum) {
				grid-column: ~"2/ span 3";
				column-count: 2;
			}
		}
	}
}

