/* *******************************
   Navigation and Menu
******************************* */

.sitewideHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	z-index: 1050; // Follows Bootstrap z-index guides https://getbootstrap.com/docs/4.3/layout/overview/
}
header {
	display: flex;
	flex-direction: row;
    width: 100vw;
	max-width: 100%;
    box-sizing: border-box;
	padding: @site-gutter-base;
	
	@media (max-width: @breakpoint-minimum){
		padding: @site-gutter-minimum;
	}
	@media (min-width: @breakpoint-collapse){
		padding: @site-gutter-maximum;
	}
	
	opacity: 0;
	animation: onLoad_header 0.5s ease-in 1s forwards;
	
	
	h1 {
		flex: 1 1 auto;
		margin: 0;
		a {
			color: @fontColor-heading;
			&:hover,
			&:active,
			&:focus {
				color: @fontColor-feature;
			}
		}
	}
	
	nav {
		width: @spacer-lg;
		height: @spacer-lg;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		
		button {
			position: relative; 
			background: transparent;
			margin: 0;
			padding: 0;
			color: transparent;
			border: 0;
			font-size: 0;
			line-height: 0;
			transition: @transition-base !important;
			cursor: pointer;

			&:before {
				content: "";
			}
			&:after {
				content: "";
				display: block;
				width: @spacer-lg;
				height: @spacer-lg;
				background: transparent;
				border: 0.125rem solid @palette-white;
				transform: rotate3d(0,0,1,0deg);
				transition: @transition-sm !important;
			}
			&:hover,
			&:focus {
				background: @palette-gray;
				&:after {
					border-color: @sodaville-gold;
					transform: rotate3d(0,0,1,45deg);
					transition: @transition-base !important;
				}
			}
		}
	}
	
	&::after {
		content: " ";
		position: absolute;
		z-index: -1;
		top: -1px;
		left: 0;
		width: 100%;
		height: 25vh;
		background: linear-gradient(to bottom,fade(@body-bg,100%),fade(@body-bg,0%));
		pointer-events: none;
	}
}

menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0; //widescreen
	padding: 0 ;
	perspective: 10rem;
	transform: rotate3d(0, 1, 0, 90deg);
	transition: transform 0.1s ease-in-out;

	&[aria-expanded="true"]{
		transform: rotate3d(0, 1, 0, 0deg);
		transition: transform 0.3s ease-in-out;
	}
	> h2 {
		margin: 0;
		min-width: @breakpoint-minimum; //widescreen
	}
	> ul.list-unstyled {
		min-width: @breakpoint-minimum; //widescreen
		li {
			margin: @spacer-base 0 0 0 ;
			padding: @spacer-sm 0;
			font-size: @fontSize-xl;
		}
	}
}
